# PostgreSQL config
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=

# Frontend API URL (Used when deploying frontend on Netlify/Vercel to connect to an external backend)
# Example: https://ais-dev-m5sa7nmwmd2hglea75igpt-894790069044.europe-west2.run.app
VITE_API_URL=
